#selectedTreeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(202, 202, 207);
  margin: 1%;
  margin-bottom: 0;
}

#displayWindow {
  background-color: rgb(210, 210, 217);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 2%;
  margin: 1%;
  margin-top: 0;
  font-family: "Fantasy", Lucida;
}

.treeItem {
  background-color: rgb(248, 249, 250);
}

.directory-col {
  display: flex;
  flex-direction: column;
  gap:5px;
}

/* User tree selection display */
#userTreesDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.userTreeName {
  border: 1px solid transparent;
  border-width: thick;
  margin-bottom: 7px;
}

.userTreeName :hover {
  margin-bottom: 0px;
  border-bottom: solid;
  border-width: thick;
}